[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# flask
werkzeug = "==2.2.3"
flask = "==2.2.2"
flask-jwt-extended = "==4.4.4"
flask-migrate = "==4.0.4"
flask-sqlalchemy = "==3.0.3"
flask-moreshell = "*"
flask-smorest = "*"
types-smorest = "*"
flask-marshmallow = "*"
types-flask-migrate = "*"
# python utils
python-dotenv = "==1.0.0"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
alembic = "~=1.10.2"
sqlalchemy = "~=2.0.5.post1"
dependency_injector = "*"
google-auth = "*"
requests = "*"
flask-cors = "*"

[dev-packages]
ipython = "*"
flake8 = "*"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
